<mat-toolbar
  color="primary"
  class="relative flex justify-between items-center px-2 sm:px-4"
>
  <div class="flex items-center space-x-2 sm:space-x-4">
    <mat-icon>bed</mat-icon>
    <span class="text-lg sm:text-xl font-semibold">Salon namještaja</span>
  </div>

  <div class="hidden md:flex space-x-4 flex-grow justify-center">
    <button mat-button routerLink="/">NASLOVNA</button>

    <button mat-button [matMenuTriggerFor]="artikliMenu">
      ARTIKLI
      <mat-icon>arrow_drop_down</mat-icon>
    </button>
    <mat-menu #artikliMenu="matMenu">
      <button mat-menu-item [routerLink]="['/articles', 1]">Dnevna soba</button>
      <button mat-menu-item [routerLink]="['/articles', 2]">
        Spavaća soba
      </button>
      <button mat-menu-item [routerLink]="['/articles', 3]">
        Blagavaonica
      </button>
      <button mat-menu-item [routerLink]="['/articles', 4]">Kućni ured</button>
    </mat-menu>

    <button mat-button routerLink="/about">O NAMA</button>
    <button mat-button routerLink="/contact">KONTAKT</button>
  </div>

  <div class="flex items-center space-x-1 sm:space-x-2">
    <button mat-icon-button routerLink="/cart">
      <mat-icon>shopping_cart</mat-icon>
    </button>
    <ng-container *ngIf="!isLoggedIn; else loggedInTemplate">
      <button
        mat-icon-button
        routerLink="/login"
        class="mobile-only"
        aria-label="Prijava"
      >
        <mat-icon>person</mat-icon>
      </button>
      <button
        mat-flat-button
        routerLink="/login"
        class="desktop-only text-white"
        aria-label="Prijava"
      >
        <mat-icon>person</mat-icon>
        Prijava
      </button>
    </ng-container>

    <ng-template #loggedInTemplate>
      <button
        mat-icon-button
        [matMenuTriggerFor]="userMenu"
        class="mobile-only"
        aria-label="Korisnički izbornik"
      >
        <mat-icon>person</mat-icon>
      </button>

      <button
        mat-button
        [matMenuTriggerFor]="userMenu"
        class="desktop-only gap-2"
        aria-label="Korisnički izbornik"
      >
        <mat-icon>person</mat-icon>
        {{ user?.first_name }} {{ user?.last_name }}
      </button>
      <mat-menu #userMenu="matMenu">
        <button
          mat-menu-item
          routerLink="/admin/articles"
          *ngIf="user?.is_admin"
        >
          Upravljanje
        </button>
        <button mat-menu-item (click)="logout()">Odjava</button>
      </mat-menu>
    </ng-template>

    <button
      mat-icon-button
      [matMenuTriggerFor]="mobileMenu"
      class="mobile-only ml-1"
      aria-label="Glavni izbornik"
    >
      <mat-icon>menu</mat-icon></button
    ><mat-menu #mobileMenu="matMenu">
      <button mat-menu-item routerLink="/">NASLOVNA</button>
      <button mat-menu-item [routerLink]="['/articles']">ARTIKLI</button>
      <button mat-menu-item [routerLink]="['/articles', 1]">
        - Dnevna soba
      </button>
      <button mat-menu-item [routerLink]="['/articles', 2]">
        - Spavaća soba
      </button>
      <button mat-menu-item [routerLink]="['/articles', 3]">
        - Blagavaonica
      </button>
      <button mat-menu-item [routerLink]="['/articles', 4]">
        - Kućni ured
      </button>
      <button mat-menu-item routerLink="/about">O NAMA</button>
      <button mat-menu-item routerLink="/contact">KONTAKT</button>
    </mat-menu>
  </div>
</mat-toolbar>
