<div
  class="flex items-center justify-center min-h-[calc(100vh-4rem)] bg-gray-100"
>
  <mat-card class="w-full max-w-md p-6">
    <mat-card-title class="text-2xl font-bold mb-6">Prijava</mat-card-title>
    <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
      <mat-form-field class="w-full mb-4 pt-4">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email" required />
        <mat-error *ngIf="loginForm.get('email')?.hasError('required')"
          >Email je obavezan</mat-error
        >
        <mat-error *ngIf="loginForm.get('email')?.hasError('email')"
          >Molimo unesite ispravan email</mat-error
        >
      </mat-form-field>

      <mat-form-field class="w-full mb-4">
        <mat-label>Lozinka</mat-label>
        <input matInput type="password" formControlName="password" required />
        <mat-error *ngIf="loginForm.get('password')?.hasError('required')"
          >Lozinka je obavezna</mat-error
        >
      </mat-form-field>

      <button
        mat-raised-button
        color="primary"
        class="w-full"
        type="submit"
        [disabled]="loginForm.invalid"
      >
        Prijava
      </button>
    </form>
    <p class="pt-4 mt-4 text-center">
      Nemate račun?
      <a routerLink="/register" class="text-blue-600 hover:underline"
        >Registracija</a
      >
    </p>
  </mat-card>
</div>
